:root{
    --color-primary-on-dark: #6750A4;
    --color-secondary-on-light: #7D68B4;

    --color-background: #1A181B;
    --color-background-alt: rgba(48, 48, 48, 0.6);

    --border-card-color: rgba(229, 229, 229, 0.6);

    --color-badge-bg: #5A5A5A;
    --color-text: #EAE3D2;

    --font-primary: 'Instrumental Sans', sans-serif;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;

    --font-size-title: 3rem;
    --font-size-subtitle: 1rem;
    --font-size-heading: 1.1rem; /*projects, skills title*/
    --font-size-body: 0.8rem; /*paragraph*/
    --font-size-badge-lg: 1.5rem; /*languages badge*/
    --font-size-badge-sm: 1.0625rem; /*languages badge projects*/
    --font-size-caption: 0.9375rem; /*projects, teamwork subtitles*/

    --border-radius: 0.9375rem;

    --scale-hover: 1.05;
    --transition-speed: 0.3s;

    --navbar-height: 5.5rem;
}